<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#5c4033;">
    <a class="navbar-brand" href="/" style="font-family: 'Patrick Hand', cursive;">MovieAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Genre</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/genre/horror">Horror</a>
              <a class="dropdown-item" href="/genre/action">Action</a>
              <a class="dropdown-item" href="/genre/comedy">Comedy</a>
              <a class="dropdown-item" href="/genre/fantasy">Fantasy</a>
              <a class="dropdown-item" href="/genre/adventure">Adventure</a>
              <a class="dropdown-item" href="/genre/thriller">Thriller</a>
              <a class="dropdown-item" href="/genre/history">History</a>
              <a class="dropdown-item" href="/genre/drama">Drama</a>
              <a class="dropdown-item" href="/genre/documentary">Documentary</a>

              
            </div>
          </li>
        
      </ul>
      <form action="/search" class="form-inline my-2 my-lg-0" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Movie Here" name="title">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search </button>
      </form>
    </div>
  </nav>

  <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script

  