<link rel="stylesheet" href="./css/index.css" />
   <div class="container">
       <div class="row">
        
            <%movies[0].forEach(function(movie){%>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 " style="padding:10px">
                    <div class="card">
                        <a href="/<%=movie.imdbID%>"><img src='<%= movie.Poster%>' alt="movie" style="width:100%;height:350px;"></a>
                       
                          <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:1rem;color:black;text-align: center;"><b><%=movie.Title%></b></p>
                          
                        
                      </div>

                </div>
                
              
               

            <%})%>


       </div>

    </div>
</br>
</br>
</br>
</br>
</br>